extends layout

block content

      if (!user)

        include  templates/home-hero.html

      if (user)
        .container
            h3.center Connect with Rutgers Alumni
            p.flow-text.center You are currently logged in as #{user.username}
            .row.center
                    a(href="/logout").btn.grey.darken-4 Logout
                    br
            ul.collection.with-header#userlist

