extends layout

block content

      if (!user)

        include  templates/home-hero.html

      if (user)
        div.container
          p You are currently logged in as #{user.username}
          a(href="/logout") Logout