doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
  //nav.red
  //  .nav-wrapper
  //    .container.center
  //        a.brand-log Tutor RU
  include templates/nav.html

  block content

  script(src='http://code.jquery.com/jquery.js')
  script(src='/bower_components/materialize/dist/js/materialize.js')
  script(src='/javascripts/main.js')