<div class="red darken-4">


    <div class="container">
        <div id="remote-media" class="row"></div>

        <div id="controls" class="row">
            <div id="preview" class="s6">
                <p class="instructions">Hello Beautiful</p>
                <div id="local-media"></div>
                <br>
                <button id="button-preview" class="btn grey darken-4">Preview Cam</button>
            </div>
            <div id="room-controls" class="s6">
                <p class="instructions">Room Name:</p>
                <input id="room-name" type="text" placeholder="Enter a room name" />
                <button id="button-join" class="btn grey darken-4">Join Room</button>
                <button id="button-leave" class="btn grey darken-4">Leave Room</button>
            </div>
        </div>

        <div class="row">

            <div id="log" class="s12"></div>
        </div>

    </div>

</div>