<div class="container grey darken-3">
    <div id="remote-media" class="row"></div>

    <div id="controls" class="row">
        <div id="preview" class="s6">
            <p class="instructions">Hello Beautiful</p>
            <div id="local-media"></div>
            <button id="button-preview">Preview My Camera</button>
        </div>
        <div id="room-controls" class="s6">
            <p class="instructions">Room Name:</p>
            <input id="room-name" type="text" placeholder="Enter a room name" />
            <button id="button-join" class="btn">Join Room</button>
            <button id="button-leave" class="btn">Leave Room</button>
        </div>
        <div id="log" class="s12"></div>
    </div>

</div>