body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}
#index-banner {
  background: #000000;
  background-image:  url("../images/bg.jpeg");
  background-image: linear-gradient(rgba(183,28,28,0.5), rgba(183,28,28,0.9)),url("../images/bg.jpeg");
  background-size: cover;
  padding: 250px 0px;
}
.text-upper {
  text-transform: uppercase;
}
.services {
  padding: 65px 0px;
}
.logo {
  max-height: 55px;
}
div#map_canvas {
  position: fixed !important;
  top: 0;
  z-index: -2;
  height: 100vh !important;
}

.blue-smoke {
  background-image: linear-gradient(rgba(183,28,28,0.75), rgba(183,28,28,1));
  padding: 100px 0px;
}

.promo i {
  margin: 40px 0;
  color: #01579b;
  font-size: 5rem;
  display: block;
}
.parallax img {
  max-width: 100%;
}
footer.page-footer {
  margin-top: 0;
}
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}